.background-cover {
    width: 100%;
    height: max-content;
    min-height: 100%;
    position: relative;  
    background-color: #093545;
    z-index: 0;
}

.background-svg {
    opacity: .8;
    position: absolute;
    bottom: 0;
    width: 100%; /* Make the SVG fill the container */
    height: auto; /* Maintain aspect ratio */
}

.big-gap{
    height: 130px;
}

@media (max-width: 768px) {
    .background-svg {
                
        transform: scaleY(2);
        
        
    }
}
