@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.cst-input {
  background-color: #224957;
  border: #224957 1px solid;
  border-radius: 10px;
}
.cst-input:active,
.cst-input:focus {
  border: #224957 1px solid;
  background-color: white;
  color: #224957;
}
.error,
.error:focus,
.error:active {
  border: #eb5757 1px solid !important;
  color: #eb5757 !important;
  background-color: white !important;
}
.texterror {
  color: #eb5757;
}

.cst-input:hover,
.cst-input:focus {
  border: #538da6 1px solid;
}

.cst-input::placeholder {
  color: white;
  opacity: 0.8;
}
.cst-button {
  background: #2bd17e;
  color: white;
  font-size: 17px;
  font-weight: 900;
  transition: all ease-out 0.1s;
  border-radius: 10px;
}
.cst-button:hover {
  background: #29c778;
  border: 1px white solid;
  transition: all ease-in 0.3s;
}

.cst-checkbox {
  display: flex;
  justify-content: center;
}

.cst-button-outline {
  border: 1px solid rgb(232, 229, 229);
  transition: all 0.1s ease-in;
  border-radius: 10px;
}

.cst-button-outline:hover {
  border: 1px solid #2bd17e;
  transition: all 0.2s ease-in;
}

.boxes {
  margin: auto;
  padding: 50px;
  border-radius: 5px;

  /* background: #484848; */
}

/*Checkboxes styles*/
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font:
    14px/20px "Open Sans",
    Arial,
    sans-serif;
  color: #ddd;
  cursor: pointer;
}

input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #538da6;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;

  -webkit-transition:
    all 0.12s,
    border-color 0.08s;
  transition:
    all 0.12s,
    border-color 0.08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.w-300 {
  max-width: 300px;
  width: 50%;
}

.w-400 {
  max-width: 400px;
  width: 60%;
}

.w-200 {
  width: 200px;
}

@media (max-width: 768px) {
  .w-300,
  .w-400 {
    width: 100% !important;
    max-width: 100% !important;
  }
}
