.novideos {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.video-card {
  cursor: pointer;
  padding: 8px 8px 16px 8px;
  width: 100%;
  /* max-width: 266px; */
  /* position: relative; */
  background-color: #092c39;
  border-radius: 12px;
  gap: 16px;
  height: 504px;
  /* overflow: hidden; */
}
.video-card:hover {
  box-shadow: 0 5px 15px 6px rgba(7, 1, 1, 0.1);
  transition: all 0.1s ease-in;
  background-color: rgba(#082935, 0.55);
}
.video-image {
  width: 100%;  
  border-radius: 12px;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.video-container {
  padding: 5%;
}
.video-create {
  padding: 6%;
  padding-left: 8%;
  color: white;
  position: relative;
}
.video-drag {
  max-width: 473px;
  max-height: 504px;
  width: 100%;
  height: 504px;
  background-color: #224957;
  border: white 2px dashed;
  border-radius: 10px;
  position: relative;
  display: block;
}
.video-drag:hover {
  cursor: pointer;
  background-color: rgba(#082935, 0.55);
  box-shadow: 0 5px 16px 4px rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease-out;
}
.video-drag-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.img-download {
  color: white;
}

.video-add-btn {
  /* Vector */

  /* position: absolute; */
  margin-top: 8px;
  margin-left: 12px;
  cursor: pointer;
}

.video-logout{
    position: absolute;
    right: 5%;
    cursor: pointer;
}

